Repository AY2223S1-CS2103T-W11-4/tp, pull requests merged in 2022-11, with the labels that each got.

#196 Ppp
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/cfsy.md
Labels: type.Task

#200 Fix clear command
  src/main/java/seedu/waddle/logic/commands/ClearCommand.java
Labels: bug

#201 Fix inconsistencies between command error messages and user guide
  docs/UserGuide.md
  src/main/java/seedu/waddle/logic/commands/AddItemCommand.java
  src/main/java/seedu/waddle/logic/commands/DeleteItemCommand.java
  src/main/java/seedu/waddle/logic/commands/EditItemCommand.java
  src/main/java/seedu/waddle/logic/commands/PlanCommand.java
  src/main/java/seedu/waddle/logic/parser/ParserUtil.java
Labels: bug

#203 Start writing tests
  docs/index.md
  src/main/java/seedu/waddle/commons/core/Text.java
  src/main/java/seedu/waddle/logic/PdfFiller.java
  src/main/java/seedu/waddle/logic/commands/CopyCommand.java
  src/main/java/seedu/waddle/logic/commands/PdfCommand.java
  src/main/java/seedu/waddle/logic/parser/WaddleParser.java
  src/main/java/seedu/waddle/model/item/Day.java
  src/main/java/seedu/waddle/model/item/Item.java
  src/main/java/seedu/waddle/model/itinerary/Itinerary.java
  src/main/java/seedu/waddle/storage/JsonAdaptedItem.java
  src/main/java/seedu/waddle/storage/JsonAdaptedItinerary.java
  src/main/java/seedu/waddle/ui/ItemCard.java
  src/main/java/seedu/waddle/ui/ItineraryCard.java
  src/test/java/seedu/waddle/commons/core/TextTest.java
  src/test/java/seedu/waddle/logic/LogicManagerTest.java
  src/test/java/seedu/waddle/logic/commands/CommandTestUtil.java
  src/test/java/seedu/waddle/logic/commands/CopyCommandTest.java
  src/test/java/seedu/waddle/logic/commands/EditCommandTest.java
  src/test/java/seedu/waddle/logic/commands/EditItineraryDescriptorTest.java
  src/test/java/seedu/waddle/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/WaddleParserTest.java
  src/test/java/seedu/waddle/model/itinerary/ItineraryTest.java
  src/test/java/seedu/waddle/testutil/ItemBuilder.java
  src/test/java/seedu/waddle/testutil/ItineraryBuilder.java
  src/test/java/seedu/waddle/testutil/TypicalItems.java
  src/test/java/seedu/waddle/testutil/TypicalItineraries.java
Labels: type.Task

#220 Day Tests
  src/test/java/seedu/waddle/model/item/DayTest.java
Labels: test

#224 More tests
  src/main/java/seedu/waddle/logic/commands/PlanCommand.java
  src/main/java/seedu/waddle/model/item/Day.java
  src/main/java/seedu/waddle/model/item/Item.java
  src/main/java/seedu/waddle/model/itinerary/DayNumber.java
  src/main/java/seedu/waddle/model/itinerary/Itinerary.java
  src/test/java/seedu/waddle/logic/commands/CopyCommandTest.java
  src/test/java/seedu/waddle/logic/commands/FreeCommandTest.java
  src/test/java/seedu/waddle/logic/commands/PlanCommandTest.java
  src/test/java/seedu/waddle/model/item/DayTest.java
  src/test/java/seedu/waddle/model/item/ItemTest.java
  src/test/java/seedu/waddle/model/itinerary/ItineraryTest.java
Labels: test

#230 Add select command test cases
  src/test/java/seedu/waddle/logic/commands/SelectCommandTest.java
Labels: test

#233 Even more tests
  src/main/java/seedu/waddle/logic/parser/ParserUtil.java
  src/main/java/seedu/waddle/logic/parser/PlanCommandParser.java
  src/main/java/seedu/waddle/logic/parser/SelectCommandParser.java
  src/main/java/seedu/waddle/model/item/Cost.java
  src/main/java/seedu/waddle/model/item/Duration.java
  src/main/java/seedu/waddle/model/item/Item.java
  src/main/java/seedu/waddle/model/item/StartTime.java
  src/test/java/seedu/waddle/logic/commands/CommandTestUtil.java
  src/test/java/seedu/waddle/logic/parser/AddItemCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/PlanCommandParserTest.java
  src/test/java/seedu/waddle/model/item/ItemTest.java
  src/test/java/seedu/waddle/model/item/UniqueItemListTest.java
  src/test/java/seedu/waddle/testutil/TypicalItems.java
Labels: test

#236 Even more tests
  src/main/java/seedu/waddle/commons/core/index/MultiIndex.java
  src/test/java/seedu/waddle/logic/parser/DeleteItemCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/EditItemCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/SelectCommandParserTest.java
Labels: test

#241 Add test cases for UnplanCommand and SelectCommand
  src/main/java/seedu/waddle/commons/core/index/MultiIndex.java
  src/test/java/seedu/waddle/logic/commands/SelectCommandTest.java
  src/test/java/seedu/waddle/logic/commands/UnplanCommandTest.java
  src/test/java/seedu/waddle/testutil/TypicalMultiIndexes.java
Labels: test

#243 WaddleParser tests
  src/main/java/seedu/waddle/logic/commands/CopyCommand.java
  src/main/java/seedu/waddle/logic/commands/FreeCommand.java
  src/main/java/seedu/waddle/logic/parser/UnplanCommandParser.java
  src/main/java/seedu/waddle/logic/parser/WaddleParser.java
  src/test/java/seedu/waddle/logic/parser/UnplanCommandParserTest.java
  src/test/java/seedu/waddle/logic/parser/WaddleParserTest.java
  src/test/java/seedu/waddle/testutil/TypicalItems.java
Labels: test

#246 Add tests for DeleteItemCommand
  src/main/java/seedu/waddle/logic/commands/DeleteItemCommand.java
  src/test/java/seedu/waddle/logic/commands/DeleteItemCommandTest.java
Labels: test

#255 Ppp
  docs/UserGuide.md
  docs/team/cfsy.md
  docs/team/ciaoosuuu.md
Labels: type.Task, test

#259 Add Budget tests
  src/test/java/seedu/waddle/model/itinerary/BudgetTest.java
Labels: test

#277 Update UG beginner tutorial
  docs/UserGuide.md
Labels: documentation

#284 Fix UG typos
  docs/UserGuide.md
Labels: documentation
